<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal">

	<div class="control-group">
		<label class="control-label" for="order.productName">Product Name</label>

		<div class="controls">
			<input type="text" id="product_name" ng-model="order.productName"
				placeholder="Product Name" required="required" min="2" />
		</div>
	</div>


	<div class="control-group">
		<label class="control-label" for="order.buyer">Buyer Name</label>

		<div class="controls">
			<input type="text" id="buyer_name" ng-model="order.buyer"
				placeholder="Buyer Name" required="required" min="2" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="order.quantity">Quantity</label>

		<div class="controls">
			<input class="span3" type="text" id="order_quantity"
				ng-model="order.quantity" placeholder="Quanity" required="required" min="1" />
			<span class="add-on">Kg</span>
			</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox"> <input type="checkbox"
				ng-model="order.delivered" /> Delevered
			</label>
		</div>
		<hr />
		<div class="controls">
			<button type="button" class="btn btn-primary"
				ng-disabled="!order.productName || !order.buyer || !order.quantity" ng-hide="editMode"
				ng-click="saveOrder(order)">Add</button>
				
			<button type="button" class="btn btn-primary"
				ng-disabled="!order.quantity || !order.buyer || !order.quantity" ng-show="editMode"
				ng-click="updateOrder(order)">Save</button>
			<button type="button" class="btn" ng-click="resetOrderForm()">Reset</button>
		</div>
	</div>
</form>
<hr />
<h3>Orders List</h3>
<div class="alert alert-info" ng-show="orders.length == 0">No Record Found</div>
<table class="table table-bordered table-striped" ng-show="orders.length > 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Id</th>
 			<th style="text-align: center;">Name</th>
			<th style="text-align: center;">Buyer</th>
			<th style="text-align: center;">Quantity</th>
			<th style="text-align: center;">Delivered</th>
 			<th style="text-align: center;">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in orders | orderBy:predicate">
			<td style="text-align: center;">{{item.id}}</td>
			<td>{{item.productName}}</td>
			<td>{{item.buyer}}</td>
			<td>{{item.quantity}}</td>
			<td style="text-align: center; width: 20px;"><span
				ng-show="item.delivered" class="icon-ok"> {{item.delivered}}</span></td>
				
			<td style="width: 100px; text-align: center;">
				<button class="btn btn-mini btn-danger"
					ng-click="removeOrder(item.id)">Remove</button>
				<button class="btn btn-mini btn-success" ng-click="editOrder(item)">Edit</button>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-danger" ng-show="orders.length > 1"
	ng-click="removeAllOrders()">Remove All Orders</button>