<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			<div>
				<toaster-container
					toaster-options="{'time-out':2000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
			</div>
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Please Sign In</h3>
				</div>
				<div class="panel-body">
					<form role="loginForm" name="loginForm">
						<fieldset>
							<div class="form-group">
								<input class="form-control" type="text"
									placeholder="E-mail/username" autofocus
									ng-model="loginForm.username" required>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password"
									type="password" required ng-model="loginForm.password">
							</div>
							<div class="checkbox">
								<label> <input name="remember" type="checkbox"
									value="Remember Me">Remember Me
								</label>
							</div>
							<!-- Change this to a button or input when using this as a form -->
							<!--  <a ui-sref="dashboard.home" class="btn btn-lg btn-success btn-block">Login</a> -->
						</fieldset>
					</form>
					<div class="controls">
						<button type="button" class="btn btn-lg btn-success btn-block"
							ng-disabled="!loginForm.username || !loginForm.password"
							ng-click="login(loginForm)">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>