<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Diesel Transactions</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<ui class="nav nav-pills" restrict access="admin | office">
				<li
					ng-class="{'active': activeTab == APP_CONSTANTS.DIESEL_NEW_TRN_TAB}"><a
					href="" data-toggle="tab"
					ng-click="setActiveTab(APP_CONSTANTS.DIESEL_NEW_TRN_TAB)">New
						Transaction</a></li>
				<li
					ng-class="{'active': activeTab == APP_CONSTANTS.DIESEL_UPDATE_TRN_TAB}"><a
					href="" data-toggle="tab"
					ng-click="setActiveTab(APP_CONSTANTS.DIESEL_UPDATE_TRN_TAB)">Update
						Transactions</a></li>
				</ui>

				<ui class="nav nav-pills" restrict access="mineuser">
				<li ng-class="{'active': activeTab == 1}"><a href=""
					data-toggle="tab" ng-click="setActiveTab(1)">New Transaction</a></li>
				</ui>
			</div>
			<!-- New Transaction panel body -->
			<div class="panel-body"
				ng-show="activeTab == APP_CONSTANTS.DIESEL_NEW_TRN_TAB">
				<div class="row">
					<div class="col-lg-6">
						<div class="alert alert-danger fade in" ng-show="error">
							{{errorMessage}}<a class="close" data-dismiss="alert"
								aria-label="close">&times;</a>
						</div>
						<div class="alert alert-success fade in" ng-show="info">
							{{infoMessage}}<a class="close" data-dismiss="alert"
								aria-label="close">&times;</a>
						</div>
						<div>
							<toaster-container
								toaster-options="{'time-out':5000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
						</div>
						<form class="form-horizontal" id="dieselTransactionForm"
							name="dieselTransactionForm">
							<fieldset>
								<!-- Form Name -->
								<legend>Place Deal</legend>

								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="in_stock">In Stock </label>

									<div class="col-md-6">
										<b><span ng-bind="dieselInStock"></span></b>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="optionsRadiosInline">Deal Type <span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<label class="radio-inline"> <input type="radio"
											ng-model="dieselTransactionForm.dealTypeSelected"
											name="optionsRadiosInline" id="radioOptionPurchase"
											value="PURCHASE" checked>Purchase
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="dieselTransactionForm.dealTypeSelected"
											name="optionsRadiosInline" id="radioOptionSale" value="SALE">Sale
									</div>
								</div>
								<div class="form-group"
									ng-show="dieselTransactionForm.dealTypeSelected === NONE">
									<label class="col-md-4 control-label requiredField">Party<span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<select class="form-control">
											<option>Select</option>
										</select>
									</div>
								</div>
								<div class="form-group"
									ng-show="dieselTransactionForm.dealTypeSelected == 'PURCHASE'">
									<label class="col-md-4 control-label requiredField">Party<span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<select class="form-control"
											ng-model="dieselTransactionForm.selectedCompany">
											<option ng-repeat="dd in deaselDealers">{{dd.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group"
									ng-show="dieselTransactionForm.dealTypeSelected == 'SALE'">
									<label class="col-md-4 control-label requiredField">Party<span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<select class="form-control"
											ng-model="dieselTransactionForm.selectedCompany">
											<option ng-repeat="company in firms">{{company.name}}</option>
										</select>
									</div>
								</div>
								<!-- Vehicle Selection Start-->
								<div class="form-group"
									ng-show="dieselTransactionForm.dealTypeSelected == 'SALE'">
									<label class="col-md-4 control-label requiredField"
										for="vehicle_selected"> Vehicle No <span
										class="asteriskField"> * </span></label>

									<div class="col-md-6">
										<select id="vehicle_selected" name="vehicle selected"
											class="form-control"
											ng-model="dieselTransactionForm.selectedVehicle">
											<option
												ng-repeat="vehicle in vehicles | filter:{firm : dieselTransactionForm.selectedCompany}">{{vehicle.vehicleNumber}}</option>
										</select>
									</div>
								</div>
								<!-- Vehicle Selection End. -->
								<!-- Appended Input-->
								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="diesel_quantity">Quantity <span
										class="asteriskField"> * </span>
									</label>

									<div class="col-md-6">
										<div class="input-group">
											<input id="diesel_quantity" name="diesel_quantity"
												class="form-control" placeholder="Quantity" type="number"
												min="0" step="1" ng-pattern="/^[0-9]{1,5}$/" required=""
												ng-model="dieselTransactionForm.quantity"> <span
												class="input-group-addon">Ltr</span>
										</div>
										<div>
											<span class="alert alert-danger"
												ng-show="dieselTransactionForm.diesel_quantity.$error.pattern">Enter
												valid number!</span>
										</div>
									</div>
								</div>

								<!-- price only be shown for authorized user -->
								<div class="form-group" restrict access="admin | office">
									<label class="col-md-4 control-label requiredField"
										for="diesel_price">Price <span class="asteriskField">
											* </span>
									</label>

									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">Rs.</span> <input
												id="diesel_price" name="diesel_price" class="form-control"
												placeholder="Price/Ltr" type="number" min="0.00" step="0.01"
												ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required=""
												ng-model="dieselTransactionForm.price">
										</div>
										<div>
											<span class="alert alert-danger"
												ng-show="dieselTransactionForm.diesel_price.$error.pattern">Enter
												valid price!</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="diesel_transaction_date"> Date <span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<div class="input-group">
											<input type="text" id="diesel_transaction_date"
												class="form-control"
												placeholder="{{APP_CONSTANTS.DIESEL_TRN_DATE_FRMT}}"
												datepicker-popup="{{APP_CONSTANTS.DIESEL_TRN_DATE_FRMT}}"
												ng-model="dieselTransactionForm.transactionDate"
												is-open="newTranDatePicker.isNewTranDatePickerOpen"
												datepicker-options="dateOptions" ng-required="true"
												close-text="Close"
												ng-click="newTranDatePickerToggle($event)"> <span
												class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="newTranDatePickerToggle($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</fieldset>
						</form>
						<hr />
						<div class="controls">

							<button type="button" class="btn btn-primary"
								ng-disabled="!dieselTransactionForm.quantity || !dieselTransactionForm.transactionDate || !dieselTransactionForm.dealTypeSelected || !dieselTransactionForm.selectedCompany"
								ng-hide="editMode"
								ng-click="saveDieselTransaction(dieselTransactionForm, false)">Add
							</button>


							<button type="button" class="btn btn-primary"
								ng-disabled="!dieselTransactionForm.quantity || !dieselTransactionForm.transactionDate || !dieselTransactionForm.dealTypeSelected || !dieselTransactionForm.selectedCompany"
								ng-show="editMode"
								ng-click="updateDieselTransaction(dieselTransactionForm)">Save
							</button>
							<button type="button" class="btn"
								ng-click="resetDieselTransactionForm()">Reset</button>
						</div>
					</div>
				</div>
				<!-- /.col-lg-6 (nested) -->
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->

			<!-- Panel body for Update transaction form -->

			<div class="panel-body"
				ng-show="activeTab == APP_CONSTANTS.DIESEL_UPDATE_TRN_TAB">
				<div class="row">
					<div class="col-lg-6">
						<div>
							<toaster-container
								toaster-options="{'time-out':5000, 'close-button':true, 'animation-class': 'toast-top-right', 'toaster-id' : 1}"></toaster-container>
						</div>
						<form class="form-horizontal" id="updateTransactionForm"
							name="updateTransactionForm">
							<fieldset>
								<!-- Form Name -->
								<legend>Update Deal</legend>
								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="updateTransactionRadiosInline"> Deal Type <span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<label class="radio-inline"> <input type="radio"
											ng-model="updateTransactionForm.dealTypeSelected"
											name="updateTransactionRadiosInline"
											id="updateTransactionOptionPurchase" value="PURCHASE" checked>Purchase
										</label> <label class="radio-inline"> <input type="radio"
											ng-model="updateTransactionForm.dealTypeSelected"
											name="updateTransactionRadioInline"
											id="updateTransactionOptionSale" value="SALE">Sale 
									</div>
								</div>
								<div class="form-group"
									ng-show="updateTransactionForm.dealTypeSelected === NONE">
									<label class="col-md-4 control-label requiredField">Party<span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<select class="form-control">
											<option>Select</option>
										</select>
									</div>
								</div>
								<div class="form-group"
									ng-show="updateTransactionForm.dealTypeSelected == 'PURCHASE'">
									<label class="col-md-4 control-label requiredField">Party<span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<select class="form-control"
											ng-model="updateTransactionForm.selectedCompany">
											<option ng-repeat="dd in deaselDealers">{{dd.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group"
									ng-show="updateTransactionForm.dealTypeSelected == 'SALE'">
									<label class="col-md-4 control-label requiredField">Party<span
										class="asteriskField"> * </span>
									</label>
									<div class="col-md-6">
										<select class="form-control"
											ng-model="updateTransactionForm.selectedCompany">
											<option ng-repeat="company in firms">{{company.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="updateTran_diesel_price">Price <span
										class="asteriskField"> * </span>
									</label>

									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">Rs.</span> <input
												id="updateTran_diesel_price" name="updateTran_diesel_price"
												class="form-control" placeholder="Price/Ltr" type="number"
												min="0.00" step="0.01"
												ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required=""
												ng-model="updateTransactionForm.price">
										</div>
										<div>
											<span class="alert alert-danger"
												ng-show="udpateTransactionForm.updateTran_diesel_price.$error.pattern">Enter
												valid price!</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label requiredField"
										for="updateTran_from_date"> Period <span
										class="asteriskField"> * </span>
									</label>

									<div class="col-md-6">
										<input ng-daterange type="daterange" id="updateTran_from_date"
											class="form-control" ng-model="updateTransactionForm.dates"
											format="{{APP_CONSTANTS.DIESEL_TRN_DATE_FRMT}}"
											ranges="ranges" />
									</div>
								</div>
							</fieldset>
						</form>
						<hr />
						<div class="controls">

							<button type="button" class="btn btn-primary"
								ng-disabled="!updateTransactionForm.dates || !updateTransactionForm.dealTypeSelected || !updateTransactionForm.selectedCompany || !updateTransactionForm.price"
								ng-click="updateDieselTransactionForm(updateTransactionForm)">Update
							</button>

							<button type="button" class="btn"
								ng-click="resetUpdateTransactionForm()">Reset</button>
						</div>
					</div>
				</div>
				<!-- /.col-lg-6 (nested) -->
				<!-- /.row (nested) -->
			</div>

			<!-- Update transaction form panel end -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>


<div class="row" restrict access="admin | office">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">Detailed Transactions</div>
			<div class="panel-body">
				<form class="form-inline">
					<div class="pull-left">
  								<span> {{rowDetailMessage}}</span>
  					</div>
  					<div>
					<div class="form-group pull-right">
						<label>Search</label> 
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
					</div>
				</form>
				
				<div class="row">
						<div class="col-lg-12">
							<table ng-table="tableParams" class="table table-hover" show-filter="true">
								<tr>
									<td title="'#'" filter="{ id: 'text'}" sortable="'id'" />
									<td title="'User'" filter="{ user: 'text'}" sortable="'user'" />
									<td title="'DealType'" filter="{ dealType.type: 'text'}" sortable="'dealType.type'" />
									<td title="'Party'" filter="{'firm.name?firm.name:dieselDealer.name' : 'text'}" sortable="'firm.name?firm.name:dieselDealer.name'" />
								    <td title="'Vehicle'" filter="{ transport.vehicleNumber: 'text'}" sortable="'transport.vehicleNumber'" />
								    <td title="'Quantity'" filter="{ quantity: 'text'}" sortable="'quantity'" />
								    <td title="'Price'" filter="{ price: 'text'}" sortable="'price'" />
									<td title="'Date'" filter="{ date: 'text'}" sortable="'date'" />
								</tr>
								<tr ng-repeat="item in $data | filter:search" ng-class="{selected : highlightRow(item)}" ng-click="setSelectedRow(item)">
									<td>{{item.id}}</td>
									<td>{{item.user.firstName}} {{item.user.lastName}}</td>
									<td>{{item.dealType.type}}</td>
									<td ng-show="item.dealType.type === 'SALE'">{{item.firm.name}}</td>
									<td ng-show="item.dealType.type === 'PURCHASE'">{{item.dieselDealer.name}}</td>
									<td ng-show="item.dealType.type === 'SALE'">{{item.transport.vehicleNumber}}</td>
									<td ng-show="item.dealType.type === 'PURCHASE'">N/A</td>
									<td>{{item.quantity}}</td>
									<td ng-show="item.price === 0">Update</td>
									<td ng-show="item.price !== 0">{{item.price}}</td>
									<td>{{item.date}}</td>
								</tr>
							</table>
							<div>
								<button class="btn btn-success" ng-show="selectedRows.length === 1" ng-click="editDieselTransaction()">Edit</button>
								<button class="btn btn-danger" ng-show="selectedRows.length >= 1" ng-click="removeDieselTransaction()">Remove</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>